.Header
{
    background-color: #0F1111;
    margin: 0;
    height: 60px;
    widows: 100%;
    align-items: center;
    display: flex;
    position:sticky;
}
.Header__logo
{
    width: 97px;
    height: 30px;
    margin:20px 0 20px 20px;
}
.Header__SearchBar
{
    width:100%;
    height: 37px;
    margin:20px 0 20px 50px;
    border-style: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;  
}
.Header__SearchBar_Icon
{    
    border-style: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; 
    width: 45px;
    height:39px;
    background-color:lightsalmon;
    object-fit: contain;

}
.Header__Signin
{
    color: white;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    
}
.small
{
    color:lightgrey;
}
.Header__ShoppingIcon
{
    
    color: white;
    padding-right:20px;
    padding-left: 20px;
    display: flex;
}

.Links
{

    text-decoration:none;
    cursor: pointer;
}
.Links:hover
{
    text-decoration:none;
}

