.Products_Block
{
    width:430px;
    height:269px;
    background-color: white;
    margin-left:10px;
    display: flex;
    box-shadow: 0 8px 6px -6px black;
}
.Products_image
{
    width:160px;
    height:130;
    object-fit: contain;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 12px;
}
.Products_info{

    height: 300px;
    align-items: center;

}
.Products_text_title
{
    font-size:24px;
    font-family:"Roboto", "Helvetica", "Arial", sans-serif;
    color: black;
    font-weight:bold;
    margin-left:10px;
    margin-bottom: 0;
}
.Products_text_detail
{
    font-size: medium;
    font-family:"Roboto", "Helvetica", "Arial", sans-serif;
    color:gray;
    margin-left: 10px;
    font-size: small;
    margin-bottom: 0;

}
.small
{
    color:lightgrey;
}
.Products_btn
{
    width:200px;
    height:31px;
    color:black;
    background: #f0c14b;
    border-color: #a88734 #9c7e31 #846a29;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 0;
    margin-top: 0;
}